  .task-box{
    height: 80px;
    width: 300px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    background-color: var(--task-box-background);
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #000;

  }

  .task-box__text{
    position: relative;
    top: 20px;
    font-size: 24px;
  }