.task-box__input{
    position: absolute;
    height: 40px;
    width: 250px;
    left: 25px;
    top: 20%;
}

.task-box__button{
    position: absolute;
    background-color: chartreuse;
    border: 2px solid #000;
    height: 35px;
    font-size: 18px;
    border-radius: 17px;
    left: 102%;
    top: 30%;
}